annotated-types==0.6.0
anyio==4.2.0
brotli-python==1.0.9
ca-certificates==2024.3.11
certifi==2024.2.2
charset-normalizer==2.0.4
click==8.1.7
exceptiongroup==1.2.0
fastapi==0.103.0
h11==0.14.0
idna==3.4
ld_impl_linux-64==2.38
libffi==3.4.4
libgcc-ng==11.2.0
libgomp==11.2.0
libstdcxx-ng==11.2.0
ncurses==6.4
openssl==3.0.13
pip==23.3.1
pydantic==2.5.3
pydantic-core==2.14.6
pysocks==1.7.1
python==3.9.16
python-dotenv==0.21.0
readline==8.2
requests==2.31.0
setuptools==68.2.2
sniffio==1.3.0
sqlite==3.41.2
starlette==0.27.0
tk==8.6.12
typing-extensions==4.9.0
typing_extensions==4.9.0
tzdata==2024a
urllib3==2.1.0
uvicorn==0.20.0
wheel==0.41.2
xz==5.4.6
zlib==1.2.13
